*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
textarea{
  resize: none;
}
i:hover, button:hover{
  cursor: pointer;
}
.bg-cover{
  height: 100vh;
  width: 100vw;
  position: relative;
}
.bg-cover img{
  height: 100vh;
  width: 100vw;
  position: relative;
}
.container {
    width: 30%;
    height: 100vh;
    background: #FFF;
    position: absolute;
    margin: 0px;
    right: 0;
    top:0;
    margin-left: 50px;
    z-index: 100;
    display: none;
}
.container1 {
    width: 500px;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5) ;
    position: absolute;
    margin: 0px;
    right: 0;
    top:0;
    margin-left: 50px;
    z-index: 102;
    display: none;
    backdrop-filter:blur(2px);
}
.input-group input{
  margin-left: 50px;
  margin-bottom: 20px;
  height:50px;
  width: 370px;
  font-size: 15px;
  padding-left: 10px;
  position: relative;
}
.input-group button{
  margin-left: 50px;
  height:50px;
  width: 370px;
  font-size: 18px;
  padding-left: 10px;
  font-weight: bold;
  background-color: #cc5500;
  color: #ffffff;
  border: none;
}
.login-text{
  color: #eeeeee;
  margin-left: 50px;
  font-size: 3rem;
  font-weight: 800;
}
i{
  color: #ffffff;
  margin: 5px;
}
.cover-upper{
  position: absolute;
  top:15vh;
  left:10vw;
}
.logo{
  display: flex;
  align-items: center;
  height: 100px;
  width: 600px;
}
.logo img{
  width: 150px;
  height: 150px;
  margin-bottom: 5vh;
  margin-right: 200px;
  align-self: center;
}
.logo button{
  height: 50px;
  width: 100px;
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
}
.login-button{
  color: #cc5500;
  border: none;
  background-color: transparent;
}
.signup-button{
  background-color: #cc5500;
  border: none;
  color: #ffffff;
}
.cover-text{
  padding-top: 80px;
}
.cover-text h4{
  font-weight: bold;
  font-size: 50px;
  color:#2E3033 ;
}
.cover-text p{
  color: #3d3d3d;
  font-size: 25px;
}
.button{
  color:#ffffff;
  background-color: #cc5500;
  height: 50px;
  width: 120px;
  border: none;
  font-size: 20px;
}
.button:hover{
  cursor: pointer;
}
.about-us{
  height: 700px;
  width: 100%;
  background: url(images/home/orange-lower.png);
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-us-wrap{
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.about-us-img{
  height: 500px;
  width: 750px;
  animation: slide 15s infinite;
}
@keyframes slide{
  0%{
    background: url(images/home/about-us1.jpg);
    background-size: cover;
  }
  25%{
    background: url(images/home/about-us2.jpg);
    background-size: cover;
  }
  50%{
    background: url(images/home/about-us3.jpg);
    background-size: cover;
  }
  75%{
    background: url(images/home/about-us4.jpg);
    background-size: cover;
  }
  100%{
    background: url(images/home/about-us1.jpg);
    background-size: cover;
  }
}
.about-us-content{
  margin-left: 25px;
  width: 400px;
  font-size: 20px;
  color: #2E3033;
}
.get-the-app{
  height: 650px;
  width: 100%;
}
.get-the-app img{
  height: 100%;
  width: 100%;
}

.contact-us{
  display: flex;
  justify-content: center;
  background-size: 600px 100%;
  padding: 50px;
  background-image: url(images/home/orange-upper.png);
}
.contact-us-container{
  padding: 30px;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contact-us-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-us-left hr{
  background-color:#E67027;
  height:1px;
  border:none;
  margin-left:10px;
  margin-right:20px;
}
.contact-us-left img{
  margin-left: 10px;
  margin-right: 5px;
  height: 40px;
  width: 40px;
}
.contact-us-content{
  display: flex;
  align-items: center;
  color: #444444;
  font-size: 15px;
  margin: 8px;

}
.contact-us-right{
  padding: 10px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 13px;
  color:#444444;
}
.contact-us-right p{
  font-size: 25px;
  text-align:center;
  margin-bottom:3px;
  font-weight: bold;
  color:#E67027;
}
.contact-us-right input{
 margin-bottom: 13px;
 width:355px;
 height:30px;
}
.contact-us-right textarea{
 margin-bottom: 13px;
 width:355px;
}
.contact-submit{
  color:#ffffff;
  border:none;
  background-color: #E67027;
}
.contact-submit:hover{
  cursor: pointer;
}
.footer{
  background-color: #1e140a;
  height:200px;
  width:100%;
}
.icon-container,.footer-text{
  display: flex;
  justify-content: center;
}
.icon-container img{
  height:40px;
  width: 40px;
  margin: 25px 5px;
}
.icon-container img:hover,.contact-us-left img:hover{
  transform: scale(1.2,1.2);
}
.footer-text p{
  margin: 15px;
  color:#b3b3b3;
}
.footer-text p:hover, .contact-us-content:hover{
  color:#cc5500;
  cursor: pointer;
}
.footer-text a:hover{
  text-decoration: none;
}
.footer-copyright{
  margin-top: 30px;
  height:25px;
  width: 100%;
  color:#8d8d8d;
  background-color: #140d07;
  padding: 7px;
  font-size: 10px;
 text-align: center;
}
